BN_CLIENT_ID=
BN_CLIENT_SECRET=
BN_REGION=us
BN_LOCALE=en_US
BN_NAMESPACE=static-us
BN_OUTPUT_DIR=research/item-db
BN_TOKEN_URL=https://oauth.battle.net/token
BN_API_BASE_URL=
BN_AUTH_MODE=header
BN_MAX_WORKERS=8
